*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(bg-header.svg);
    background-position: right top;
    background-size: 50%;
    background-repeat: no-repeat;   
}
.container{
    margin: 0 auto;
    padding-top: 53px;
    padding-left: 110px;
    padding-right: 110px;
    max-height: 694px;
    position: relative;
}

/*NAV*/
.nav{
    width: 100%;
    position: absolute;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    padding: 20px 30px;
    margin-top: -35px;
}
.nav-menu{
    list-style: none;
    display: flex;
    gap: 37px;
    margin-right: 170px;
}
.nav-menu-item{
    position: relative;
}

.nav-item-link{
    color: white;
    text-decoration: none;
}
/*HERO*/
.hero{
    position: relative;
}
.h1{
    margin: 140px 725px 0 80px;
    width: 415px;
    height: 120px;
    font-size: 200%;
}
.product{
    width: 46%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    margin-top: -200px;
    margin-bottom: 10px;
    left: 380px;
}
.header p{
    display: flex;
    justify-content: flex-start;
    align-content: bottom;
    left: 80px;
    position: relative;
}
.btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 80px;
    top: 38px;
    position: relative;
    padding: 12px;
    background-color: #68B738;
    color: white;
    border: solid black 1px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}
/*MAIN*/
/*WEIGHT SECTION*/
.weight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.cat{
    width: 570px;
}
.cat1{
    padding: 41px 0 55px 52px;
    background-color: #F2F2F2;   
    width: 467px;
}
.cat2{
    padding: 47px 10px 55px 33px;
    background-color: #F2F2F2;
    width: 467px;
}
.cat h3{
    display: flex;
    justify-content: center;
    align-items: top;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000; 
    position: relative;
    top: -77px;
    left: 15%;
}
.cat a{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.cat1 p{
    width: 100%;
    padding-right: 51px;
    margin-bottom: 23px;
}
.cat2 p{
    width: 100%;
    margin-left: 19px;
    padding-right: 61px;
    margin-bottom: 23px;
}
.cat2 h4{
    margin-left: 19px;
}
/*ARTICLE*/
h2{
    display: block;
    font-size: 380%;
}
.figures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 32px;
    overflow: visible;
    margin-bottom: 11px;
}
figure{
    max-width: 227px;
    max-height: 270px;
    padding-top: 40px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    align-items: end;
    position: relative;
}
.figures figure img{
    position: absolute;
    top: 0;
}
.figures figure p{
    margin-top: 100px;
    transform: translateY(-62%);
}
.f1{
    background-image: url(1.svg);
}
.f2{
    background-image: url(2.svg);
}
.f3{
    background-image: url(3.svg);
}
.f4{
    background-image: url(4.svg);
}
/*EXAMPLE SECTION*/
.example h2{
    margin-top: 58px;
    margin-bottom: 76px;
    position: relative;
}
.ex-text{
    position: relative;
    left: -110px;
    width: calc(100% + 220px);
    background-color: #F2F2F2;
    padding: 70px 105px 75px 110px;
}
.ex-text p:first-child {
    margin-bottom: 69px;
    line-height: 20px;
    font-size: 93%;
}
.f-sets{
    display: flex;
    gap: 42px;
}
fieldset{
    position: relative;
    padding: 15px 20px 25px;
    text-align: center;
    border-radius: 5px;
    width: 100px;
    margin-bottom: 55px;
}
legend{
    position: absolute;
    bottom: -5px;
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
    padding: 0 8px;
    line-height: 100%;
    text-align: center;
    color: #444444;
}
.legend1{
    right: 15%;
}
.legend2{
    right: 8%;
}
label{
    font-weight: bold;
    font-size: 150%;
}
.price{
    display: inline;
    margin-right: 5.5%;
}
.mix{
    position: absolute;
    top: 0;
    right: -100px;
    display: flex;
    flex-direction: row;
    width: 75%;
    transform: scale(0.7, 1);
}
.ex-cat1{
    height: 600px;
    width: 450px;
}
.ex-cat2{
    height: 740px;
    transform: translateX(-1px);
}
.sizer{
    position: absolute;
    bottom: 50px;
    right: 100px;
    display: flex;
    flex-direction: row;
}
